/* Improve Table UI */
.table {
    border-radius: 10px;
    overflow: hidden;
}

/* Search Input Customization */
.dataTables_filter input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    background-color: #FAFAFA;
    border: 1px solid #E3E3E3;
    transition: all 0.3s ease-in-out;
}

.dataTables_filter input:focus {
    border: 2px solid #007bff;
    background-color: white;
}

/* Pagination Buttons */
/* .dataTables_paginate {
    margin-top: 20px;
} */

/* .dataTables_paginate .paginate_button {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 3px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 5px;
}

/* Active Pagination Button */
.dataTables_paginate .paginate_button.current {
    background-color: #007bff !important;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
}

*/